.jumbotron {
    background-image: url("../home-images/jumbotron.jpg");
    background-size: cover;
    height: 100%;
    border-radius: 0;
    padding: 2rem 1rem;
}

@media (min-width: 576px){
    .jumbotron {
        padding: 18rem 2rem;
    }

}
